input.disclosure-triangle {
  -webkit-appearance: none;
  appearance: none;
  color: #777;
  transition: transform .2s ease;
  outline: 0 !important;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;

  &::after {
    position: relative;
    top: -1px;
    content: "\25b6";
    font-size: 18px;
    padding: 0 3px 0 6px;
  }

  &:focus {
    color: #77a;
  }

  &:checked {
    transform: rotate(90deg);
    color: #444;
  }
}

table.data {
  width: 100%;
  td, th {
    text-align: left;
    vertical-align: top;
    padding: 4px;
    .checkbox {
      margin: 0;
    }
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  th {
    background-color: #ddd;
  }

  td {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    white-space: pre;
  }
}
