.panel.events {
  display: flex;
  flex-direction: column;
  flex: 1;

  .event-list {
    flex: 1 0 0;

    table {
      width: 100%;
      td, th {
        text-align: left;
        padding: 2px;

        .checkbox {
          margin: 0;
        }
      }

      tr:nth-child(even) {
        background-color: #eee;
      }

      th {
        background-color: #ddd;
      }

      td {
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
      }

      th.select, td.select {
        width: 7ch;
      }
    }
  }

  .event-log {
    flex: 1 0 0;
    overflow-y: scroll;
    overflow-x: hidden;

    table {
      width: 100%;
      td, th {
        text-align: left;
        vertical-align: top;
        padding: 4px;

        &.toggle-pretty {
          padding: 0 2px;
        }
      }

      tr:nth-child(even) {
        background-color: #eee;
      }

      th {
        background-color: #ddd;
      }

      td {
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
        max-height: 2em;
        overflow-x: hidden;
        white-space: nowrap;

        &.pretty {
          white-space: pre;
        }
      }

      td.event {
        padding-right: 8px;
        width: 1px;
      }

      td.data {
        width: 90%;
      }
    }
  }

  header {
    font-weight: bold;
    margin: 6px 0 2px 0;
    background-color: #ddd;
    padding: 2px 8px;
  }
}
