.panel.events {
  .event-list {
    flex: 1 0 0;
    table {
      th.select, td.select {
        width: 7ch;
      }
    }
  }

  .event-log {
    flex: 1 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    table {
      td, th {
        &.toggle-pretty {
          padding: 0 2px;
        }
      }

      td {
        max-height: 2em;
        overflow-x: hidden;
        &.pretty {
          white-space: pre;
        }
      }

      td.event {
        padding-right: 8px;
        width: 1px;
      }

      td.data {
        width: 90%;
      }
    }
  }

  header {
    font-weight: bold;
    margin: 6px 0 2px 0;
    background-color: #ddd;
    padding: 2px 8px;
  }
}
