.panel.records {
  .records-list {
    flex: 1 0 0;
    overflow-y: scroll;

    table {
      table-layout: fixed;
      td, th {
        line-height: 25px;
      }

      th.name, td.name {
        width: 10ch;
      }

      td.record {
        > .data {
          display: flex;
          width: 100%;
          align-items: flex-start;

          > .display {
            overflow-x: hidden;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
          }
        }

        button {
          font-family: sans-serif;
          margin-left: 6px;
        }
      }
    }
  }
}
