.panel.results {
  .result-list {
    flex: 1 0 0;
    overflow-y: scroll;
    overflow-x: hidden;

    table {
      td {
        max-height: 2em;
        overflow-x: hidden;
      }

      th.rpc, td.rpc {
        padding-right: 8px;
        width: 5em;
      }

      td.result {
        width: 90%;
      }
    }
  }
}
